body, html {
    margin: 0;
    padding: 0;
  }
  
  .row {
    height: 100px;
    width: 100%;
  }
  
  .row-big {
    height: 180;
    width: 100%;
  }
  
  .row-1 {
    background-color: #D8D8D8;
    padding: 25px;
    box-sizing: border-box;
  }
  
  .row-1-div {
    background-color: rgb(66, 123, 189);

    height: 50px;
    width: 50px;
  }
  
  .row-2 {
    background-color: #fff;
    box-sizing: border-box;
    padding: 50px;
  }
  
  .row-3 {
    background-color:rgb(66, 123, 189);
  }
  
  .row-4 {
    background-color: rgb(69, 182, 157);
  }
  
  .row-5 {
    background-color: rgb(141, 187, 96);
  }
  
  .row-6 {
    background-color: rgb(214, 199, 34);
  }